server_name : js{{ node.index }}-c1
port: 4222

accounts {
  $SYS {
    users : [
      { user: "admin",
        pass: "admin"
      }
    ]
  }
}

jetstream {
  store_dir: /data/jetstream
  max_mem_store: {{ node.jetstream.max_mem_store }}
  max_file_store: {{ node.jetstream.max_file_store }}
}

cluster {
  name: C1
  listen: 0.0.0.0:6222
  routes: [
    # JetStream container of other nodes
{% for n, nd in nodes.items() %}
{% if n != current_node %}    nats://{{ nd.ip }}:{{ ports.jetstream }}
{% endif %}
{% endfor %}
    # NATS container of current node
    nats://{{ node.ip }}:{{ ports.nats }}
  ]
}

monitor_port: 8222