server_name: n{{ node.index }}-c1
port: 4222

accounts {
  $SYS {
    users : [
      { user: "admin",
        pass: "admin"
      }
    ]
  }
}

cluster {
  name: C1
  listen: 0.0.0.0:6222
  routes: [
    # JetStream container of current node
    nats://{{ node.ip }}:{{ ports.jetstream }}
    # NATS container of other nodes
{% for n, nd in nodes.items() %}
{% if n != current_node %}    nats://{{ nd.ip }}:{{ ports.nats }}
{% endif %}
{% endfor %}
  ]
}

monitor_port: 8222